In [4]:
from requests import get
import pandas as pd

### Web Scrapping

In [5]:
url = "https://www.ranker.com/list/most-successful-entrepreneurs-in-the-world/business-and-company-info"

In [6]:
response = get(url)
print(response)

<Response [200]>

In [4]:
from bs4 import BeautifulSoup as bs ## importing Beautiful Soup
html_soup = bs(response.text,'html.parser')## python's in built library HTML parser
type(html_soup)

bs4.BeautifulSoup

In [5]:
id_check = html_soup.find("article", class_="list__article list__section layout--adjust relative whiteBg list--headerEmpty list--noVotes")

In [6]:
id_check.prettify

<bound method Tag.prettify of <article class="list__article list__section layout--adjust relative whiteBg list--headerEmpty list--noVotes" data-list-id="300896" id="list" itemscope="" itemtype="http://schema.org/ItemList" role="main"> <meta content="The Most Successful Entrepreneurs In The World" itemprop="name"/> <header class="list__header relative"> <div class="list__title relative visible"> <h1 class="list__h1 block black whiteBg relative visible robotoC " data-internal-url="//www.ranker.com/list/most-successful-entrepreneurs-in-the-world/business-and-company-info" role="heading"> <!--googleoff: all--> <span class="list__tag absolute whiteBg"> Wealthy</span> <!--googleon: all--> The Most Successful Entrepreneurs In The World  <span class="listStats relative inlineBlock" data-share-description="Ever wonder who makes the list of world famous entrepreneurs? These are the profiles of the most popular entrepreneurs ..." data-share-image="https://imgix.ranker.com/list_img_v2/896/300896/original/most-successful-entrepreneurs-in-the-world-u3?w=650&amp;fit=clip&amp;q=60&amp;fm=jpg" data-share-title="The Most Successful Entrepreneurs In The World" data-share-url="//www.ranker.com/list/most-successful-entrepreneurs-in-the-world/business-and-company-info?ref=dshare" id="listStats"> <span class="button button__share listStats__icon listStats__icon--fb float inlineBlock" data-shareparamson="listStats" data-sharetype="facebook"> <svg class="rsvg listStats__iconSvg float"> <use href="#rsvg__social--facebook" xlink:href="#rsvg__social--facebook"></use> </svg> </span> <span class="button button__share listStats__icon listStats__icon--pinterest float inlineBlock" data-shareparamson="listStats" data-sharetype="pinterest"> <svg class="rsvg listStats__iconSvg float"> <use href="#rsvg__social--pinterest" xlink:href="#rsvg__social--pinterest"></use> </svg> </span> <span class="button button__share listStats__icon listStats__icon--email float inlineBlock" data-shareparamson="listStats" data-sharetype="email"> <svg class="rsvg listStats__iconSvg float"> <use href="#rsvg__social--email" xlink:href="#rsvg__social--email"></use> </svg> </span> </span> </h1><img alt="Business and Company Info" class="list__authorImage float" src="https://imgix.ranker.com/user_img/1/2750/original/profile?w=56&amp;h=56&amp;q=60&amp;fm=jpg&amp;fit=crop&amp;crop=faces"/> <div class="list__author block visible black robotoC"> <a class="list__authorLink black" href="//www.ranker.com/profile-of/business-and-company-info" rel="author" role="link" title="View Business and Company Info's profile">Business and Company Info</a></div> <div class="list__data block grey instapaper_ignore"> <span class="list__dataItem relative float block"> 939.5k views </span> <span class="list__dataItem list__dataItem--totalItems relative float list__dataItem--last block"> 25 items </span> </div></div> </header> <div class="list__description relative" itemprop="description"> <p>Ever wonder who makes the list of world famous entrepreneurs? These are the profiles of the most popular entrepreneurs that are worth emulating, chosen for this list and ranked loosely by <a class="edS-cl" href="https://www.ranker.com/tags/popular-opinion?ref=internalCrossLinking_tag">popular opinion</a> as well as clear business success metrics. These business leaders are from diverse domains and at top of their fields and are <a class="edS-cl" href="https://www.ranker.com/crowdranked-list/famous-role-models-we_d-like-to-meet-in-person?ref=internalCrossLinking_keyword">great role models</a> as well as being some of the most well known people on the planet.</p> <p>Who are the most successful businessmen in the world? All of these examples of top entrepreneurs are unique in that they believed in themselves mostly since they were kids and worked towards that goal to success and fame.</p> </div><meta content="ascending" itemprop="itemListOrder"/> <meta content="25" itemprop="numberOfItems"/> <div class="listItem listItem--blog relative flex " data-islistafterlist="false" data-node-id="1279286" itemprop="itemListElement" itemscope="" itemtype="//schema.org/ListItem" role="listitem"> <div class="listItem__content--blog relative"> <figure class="listItem__figure relative"> <img alt="Jeff Bezos is listed (or ranked) 1 on the list The Most Successful Entrepreneurs In The World" class="lazyload listItem__image listItem__image--blog" data-sizes="auto" data-src="https://imgix.ranker.com/node_img/64/1279286/original/jeffrey-p-bezos-people-in-tv-photo-1?w=650&amp;q=50&amp;fm=jpg&amp;fit=crop&amp;crop=faces" itemprop="image" src="https://imgix.ranker.com/node_img/64/1279286/original/jeffrey-p-bezos-people-in-tv-photo-1?w=650&amp;blur=200&amp;px=16&amp;fm=jpg&amp;fit=crop"/> <!--googleoff: all--> <figcaption class="rankerList__caption block relative midGrey">Photo: <a class="rankerList__captionLink" href="http://freebase.com/m/03rv1md" rel="nofollow" target="_blank">Metaweb (FB)</a>/<a class="rankerList__captionLink" href="http://creativecommons.org/licenses/by/3.0/" rel="nofollow" target="_blank">CC-BY</a></figcaption> <!--googleon: all--> </figure><meta content="1" itemprop="position"/> <div class="listItem__title listItem__title--blog flex"> <div class="listItem__ranking listItem__ranking--blog flex"> <strong class="listItem__rank listItem__rank--blog inlineBlock center robotoC instapaper_ignore">1</strong> </div> <h2 class="listItem__h2 listItem__h2--blog flex"> <span class="listItem__info listItem__info--blog block"> </span> <meta content="Jeff Bezos" itemprop="name"/> <a class="listItem__h2Link black" href="//www.ranker.com/review/jeffrey-p-bezos/1279286?ref=node_name&amp;pos=1&amp;a=0&lt;ype=n&amp;l=300896&amp;g=1" itemprop="url" rel="follow" role="link">Jeff Bezos</a></h2> </div> <meta content=" Founder of Amazon.com, Jeff Bezos has an approximate net worth of $159.6 billion in September 2018, doubling his net worth from just 12 months prior and making him the richest person in the world. " itemprop="description"/> <p>Founder of Amazon.com, Jeff Bezos has an approximate net worth of $159.6 billion in September 2018, doubling his net worth from just 12 months prior and making him <a href="https://www.forhttps://www.forbes.com/billionaires/list/#version:static" target="_blank">the richest person in the world</a>.</p> <p class="listItem__content--wiki listItem__content--wiki-hasBlather"> Jeffrey Preston "Jeff" Bezos is an American business magnate and investor. He is a technology entrepreneur who has played a key role in the growth of e-commerce as the founder and CEO of Amazon.com, an online merchant of books and later of a wide variety of products. Under his guidance, Amazon.com became the largest retailer on the World Wide Web and a top model for Internet sales. In 2013, Bezos purchased The Washington Post newspaper. As of March 2015, Bezos's personal wealth is estimated to be US$34.8 billion, ranking him number 15 on the Forbes list of billionaires.<a href="http://en.wikipedia.org/wiki/Jeff_Bezos" role="link" target="_blank"> ...more on Wikipedia</a> </p> <p class="listItem__property relative"> <strong class="listItem__property--name inlineBlock">Age:</strong> 54</p> <p class="listItem__property relative"> <strong class="listItem__property--name inlineBlock">Birthplace:</strong> Albuquerque, New Mexico, United States of America</p> <p class="listItem__property relative"> <strong class="listItem__property--name inlineBlock">Profession:</strong> Businessperson, Entrepreneur</p><p class="listItem__propertyTitle relative black robotoC">Also Ranked</p> <p class="listItem__property listItem__property--alsoRanked relative"> <strong class="listItem__property--name inlineBlock">#10</strong> on <a href="//www.ranker.com/list/most-influential-ceos-all-time/ready-to-startup?ref=also_ranked">The Most Influential CEOs of All Time</a> </p> <p class="listItem__property listItem__property--alsoRanked relative"> <strong class="listItem__property--name inlineBlock">#6</strong> on <a href="//www.ranker.com/list/the-most-irreplaceable-ceos-in-the-world/ready-to-startup?ref=also_ranked">The Most Irreplaceable CEOs in the World</a> </p> <p class="listItem__propertyTitle relative black robotoC"> More <a href="//www.ranker.com/review/jeffrey-p-bezos/1279286?ref=divedeeper">Jeff Bezos</a> <svg class="rsvg listItem__propertyChevronRight"> <use href="#rsvg__arrows--chevronRight" xlink:href="#rsvg__arrows--chevronRight"></use> </svg> </p> <a class="listItem__property listItem__property--nodeTagged block relative" href="//www.ranker.com/list/jeff-bezos-fun-facts/donn-saylor?ref=divedeeper">Things You Never Knew About Jeff Bezos</a> </div> <div class="listItem__rightRail--blogContainer"> <div class="listItem__rightRail--blog relative $eiv" data-eiv-callback="RView.liftIgnite.getRightRailSlots" data-eiv-clearinview="true" data-eiv-offset="50"> <a class="related__item related__item--rightRail flex relative center" data-algo="40" data-classes="related__item--rightRail" data-image="https://imgix.ranker.com/list_img_v2/2144/1302144/original/29-celebrities-who-married-the-same-person-twice-u1?w=427&amp;h=223&amp;fit=crop&amp;q=50&amp;fm=jpg" data-position="1" data-ri="" data-slot="RIGHT_RAIL" data-votable="false" href="//www.ranker.com/list/celebrities-who-married-the-same-person-twice/celebrity-lists?ref=lzyrltdlstszerg_rr" style="background-image:url(https://imgix.ranker.com/list_img_v2/2144/1302144/original/29-celebrities-who-married-the-same-person-twice-u1?w=427&amp;h=223&amp;fit=crop&amp;q=50&amp;fm=jpg)" title=" 31 Celebrities Who Married the Same Person Twice "> <span class="related__itemMeta whiteBg black flex robotoL"> 31 Celebrities Who Married the Same Person Twice </span> </a></div> <div class="ad ad--noHead ad__adunit ad__adunit--250 ad__adunit--rightRail instapaper_ignore $eiv" data-eiv-callback="displayAdCallback" data-eiv-clearinview="false" data-eiv-namespace="RDFP" data-eiv-offset="600" id="DESKTOP_BLOG_RR_01"> </div> </div></div> <div class="ad ad__adunit ad__adunit--728 ad__adunit--listItem ad__adunit--listItem-blog center instapaper_ignore $eiv" data-eiv-callback="displayAdCallback" data-eiv-clearinview="false" data-eiv-namespace="RDFP" data-eiv-offset="600" id="DESKTOP_BLOG_IL_01"> </div> <div class="listItem listItem--blog relative flex " data-islistafterlist="false" data-node-id="585095" itemprop="itemListElement" itemscope="" itemtype="//schema.org/ListItem" role="listitem"> <div class="listItem__content--blog relative"> <figure class="listItem__figure relative"> <img alt="Bill Gates is listed (or ranked) 2 on the list The Most Successful Entrepreneurs In The World" class="lazyload listItem__image listItem__image--blog" data-sizes="auto" data-src="https://imgix.ranker.com/user_node_img/30/585095/original/bill-gates-recording-artists-and-groups-photo-u40?w=650&amp;q=50&amp;fm=jpg&amp;fit=crop&amp;crop=faces" itemprop="image" src="https://imgix.ranker.com/user_node_img/30/585095/original/bill-gates-recording-artists-and-groups-photo-u40?w=650&amp;blur=200&amp;px=16&amp;fm=jpg&amp;fit=crop"/> <!--googleoff: all--> <figcaption class="rankerList__caption block relative midGrey">Photo: via Reddit</figcaption> <!--googleon: all--> </figure><meta content="2" itemprop="position"/> <div class="listItem__title listItem__title--blog flex"> <div class="listItem__ranking listItem__ranking--blog flex"> <strong class="listItem__rank listItem__rank--blog inlineBlock center robotoC instapaper_ignore">2</strong> </div> <h2 class="listItem__h2 listItem__h2--blog flex"> <span class="listItem__info listItem__info--blog block"> </span> <meta content="Bill Gates" itemprop="name"/> <a class="listItem__h2Link black" href="//www.ranker.com/review/bill-gates/585095?ref=node_name&amp;pos=2&amp;a=0&lt;ype=n&amp;l=300896&amp;g=1" itemprop="url" rel="follow" role="link">Bill Gates</a></h2> </div> <meta content=" Microsoft founder Gates is the second richest person in the world, with a net worth of over $90 billion in September 2018. He intends to give away virtually all of his wealth. " itemprop="description"/> <p>Microsoft founder Gates is t<a href="https://www.forbes.com/billionaires/list/#version:static" target="_blank">he second richest person in the world</a>, with a net worth of over $90 billion in September 2018.</p> <p>He intends to give away virtually all of his wealth.</p> <p class="listItem__content--wiki listItem__content--wiki-hasBlather"> William Henry "Bill" Gates III is an American business magnate, philanthropist, investor, computer programmer, and inventor. Gates originally established his reputation as the co-founder of Microsoft, the world’s largest PC software company, with Paul Allen. During his career at Microsoft, Gates held the positions of chairman, CEO and chief software architect, and was also the largest individual shareholder until May 2014. He has also authored and co-authored several books. Today he is consistently ranked in the Forbes list of the world's wealthiest people and was the wealthiest overall from 1995 to 2014—excluding a few brief periods post-2008. Between 2009 and 2014 his wealth more than<a href="http://en.wikipedia.org/wiki/Bill_Gates" role="link" target="_blank"> ...more on Wikipedia</a> </p> <p class="listItem__property relative"> <strong class="listItem__property--name inlineBlock">Age:</strong> 62</p> <p class="listItem__property relative"> <strong class="listItem__property--name inlineBlock">Birthplace:</strong> USA, Washington, Seattle</p> <p class="listItem__property relative"> <strong class="listItem__property--name inlineBlock">Profession:</strong> Programmer, Software Architect, Businessperson, Investor, Entrepreneur</p><p class="listItem__propertyTitle relative black robotoC">Also Ranked</p> <p class="listItem__property listItem__property--alsoRanked relative"> <strong class="listItem__property--name inlineBlock">#39</strong> on <a href="//www.ranker.com/crowdranked-list/the-most-influential-people-of-all-time?ref=also_ranked">The Most Influential People of All Time</a> </p> <p class="listItem__property listItem__property--alsoRanked relative"> <strong class="listItem__property--name inlineBlock">#79</strong> on <a href="//www.ranker.com/list/famous-men-youd-want-to-have-a-beer-with/ariel-kana?ref=also_ranked">Famous Men You'd Want to Have a Beer With</a> </p> <p class="listItem__property listItem__property--alsoRanked relative"> <strong class="listItem__property--name inlineBlock">#91</strong> on <a href="//www.ranker.com/crowdranked-list/famous-role-models-we_d-like-to-meet-in-person?ref=also_ranked">Famous Role Models We'd Like to Meet In Person</a> </p> <p class="listItem__property listItem__property--alsoRanked relative"> <strong class="listItem__property--name inlineBlock">#66</strong> on <a href="//www.ranker.com/list/most-important-leaders-in-us-history/mel-judson?ref=also_ranked">The Most Important Leaders in U.S. History</a> </p> <p class="listItem__propertyTitle relative black robotoC"> More <a href="//www.ranker.com/review/bill-gates/585095?ref=divedeeper">Bill Gates</a> <svg class="rsvg listItem__propertyChevronRight"> <use href="#rsvg__arrows--chevronRight" xlink:href="#rsvg__arrows--chevronRight"></use> </svg> </p> <a class="listItem__property listItem__property--nodeTagged block relative" href="//www.ranker.com/list/relationship-between-steve-jobs-and-bill-gates/melissa-sartore?ref=divedeeper">How Steve Jobs And Bill Gates Went From Friends To Bitter Enemies</a> <div class="ad ad--noHead ad__adunit--listItem--vice" id="DESKTOP_BLOG_VICE"></div> </div> <div class="listItem__rightRail--blogContainer"> <div class="ad ad--noHead ad__adunit ad__adunit--250 ad__adunit--rightRail instapaper_ignore $eiv" data-eiv-callback="displayAdCallback" data-eiv-clearinview="false" data-eiv-namespace="RDFP" data-eiv-offset="600" id="DESKTOP_BLOG_RR_02"> </div> <div class="listItem__rightRail--blog relative $eiv" data-eiv-callback="RView.liftIgnite.getRightRailSlots" data-eiv-clearinview="true" data-eiv-offset="50"> <a class="related__item related__item--rightRail flex relative center" data-algo="22" data-classes="related__item--rightRail" data-image="https://imgix.ranker.com/list_img_v2/1335/921335/original/actors-nobody-cares-about-anymore-u2?w=427&amp;h=223&amp;fit=crop&amp;q=50&amp;fm=jpg" data-position="2" data-ri="" data-slot="RIGHT_RAIL" data-votable="true" href="//www.ranker.com/list/actors-nobody-cares-about-anymore/ranker-celebrities?ref=lzyrltdlstszerg_rr" style="background-image:url(https://imgix.ranker.com/list_img_v2/1335/921335/original/actors-nobody-cares-about-anymore-u2?w=427&amp;h=223&amp;fit=crop&amp;q=50&amp;fm=jpg)" title=" Celebrities Nobody Cares About Anymore "> <span class="related__itemMeta whiteBg black flex robotoL"> Celebrities Nobody Cares About Anymore </span> </a></div> </div></div> <div class="listItem listItem--blog relative flex " data-islistafterlist="false" data-node-id="1413360" itemprop="itemListElement" itemscope="" itemtype="//schema.org/ListItem" role="listitem"> <div class="listItem__content--blog relative"> <figure class="listItem__figure relative"> <img alt="Larry Ellison is listed (or ranked) 3 on the list The Most Successful Entrepreneurs In The World" class="lazyload listItem__image listItem__image--blog" data-sizes="auto" data-src="https://imgix.ranker.com/user_node_img/71/1413360/original/larry-ellison-photo-u4?w=650&amp;q=50&amp;fm=jpg&amp;fit=crop&amp;crop=faces" itemprop="image" src="https://imgix.ranker.com/user_node_img/71/1413360/original/larry-ellison-photo-u4?w=650&amp;blur=200&amp;px=16&amp;fm=jpg&amp;fit=crop"/> <!--googleoff: all--> <figcaption class="rankerList__caption block relative midGrey">Photo: <a class="rankerList__captionLink" href="http://flickr.com/photos/43156897@N06" rel="nofollow" target="_blank"> Oracle Computer Communications</a>/<a class="rankerList__captionLink" href="https://commons.wikimedia.org/wiki/File:Larry_Elllison_on_stage.jpg" rel="nofollow" target="_blank">Wikimedia Commons</a>/<a class="rankerList__captionLink" href="https://creativecommons.org/licenses/by/2.0/deed.en" rel="nofollow" target="_blank">CC BY 2.0</a></figcaption> <!--googleon: all--> </figure><meta content="3" itemprop="position"/> <div class="listItem__title listItem__title--blog flex"> <div class="listItem__ranking listItem__ranking--blog flex"> <strong class="listItem__rank listItem__rank--blog inlineBlock center robotoC instapaper_ignore">3</strong> </div> <h2 class="listItem__h2 listItem__h2--blog flex"> <span class="listItem__info listItem__info--blog block"> </span> <meta content="Larry Ellison" itemprop="name"/> <a class="listItem__h2Link black" href="//www.ranker.com/review/larry-ellison/1413360?ref=node_name&amp;pos=3&amp;a=0&lt;ype=n&amp;l=300896&amp;g=1" itemprop="url" rel="follow" role="link">Larry Ellison</a></h2> </div> <meta content="Oracle founder and CEO, Ellison is now a full-time philanthropist with a net worth of $58.5 billion in March 2018, making him the 10th richest person in the world. He pledged $200 million for a cancer treatment center to the ..." itemprop="description"/> <p>Oracle founder and CEO, Ellison is now a full-time philanthropist with a net worth of $58.5 billion <a href="https://www.forbes.com/profile/larry-ellison/?list=billionaires#592063d124c2" target="_blank">in March 2018</a>, making him the 10th richest person in the world.</p> <p>He pledged $200 million for a cancer treatment center to the University of Southern California in 2016.</p> <p class="listItem__content--wiki listItem__content--wiki-hasBlather"> Lawrence Joseph "Larry" Ellison is an American programmer, internet entrepreneur, adventurer, businessman and philanthropist. He was the Chief Executive Officer of the software company Oracle Corporation between its foundation in 1977 and 2014. In 2014, he was listed by Forbes as the third-wealthiest man in America and as the fifth-wealthiest person in the world, with a fortune of $56.2 billion. Ellison was b

In [7]:
# id_check = html_soup.find(id ="list")
ent_container = id_check.find_all("div", class_="listItem__content--blog relative")
len(ent_container)

4

In [8]:
container = ent_container[0]
sub_container = container.find_all("p", class_ = "listItem__property relative")

# birth = container.find_next_sibling("p", class_ = "listItem__property relative")
# print(age)
# print(birth)

In [9]:
age = sub_container[0].text[6:]
print(age)

54

In [10]:
birth = sub_container[1].text[13:]
print(birth)

Albuquerque, New Mexico, United States of America

In [11]:
profession = sub_container[2].text[13:]
print(profession)

Businessperson, Entrepreneur

In [12]:
desc=container.find("p", class_="listItem__content--wiki listItem__content--wiki-hasBlather").text
print(desc)

 Jeffrey Preston "Jeff" Bezos is an American business magnate and investor. He is a technology entrepreneur who has played a key role in the growth of e-commerce as the founder and CEO of Amazon.com, an online merchant of books and later of a wide variety of products. Under his guidance, Amazon.com became the largest retailer on the World Wide Web and a top model for Internet sales. In 2013, Bezos purchased The Washington Post newspaper. As of March 2015, Bezos's personal wealth is estimated to be US$34.8 billion, ranking him number 15 on the Forbes list of billionaires. ...more on Wikipedia

In [13]:
ent_name=[]
ent_age=[]
ent_desc=[]
ent_birthplace=[]
ent_profession=[]

for container in ent_container:
    
    # Name of the Entrepreneurs
    name = container.h2.a.text
    ent_name.append(name)
    
    #Description of the ent
    desc=container.find("p", class_="listItem__content--wiki listItem__content--wiki-hasBlather").text
    ent_desc.append(desc)
    
    sub_container = container.find_all("p", class_ = "listItem__property relative")
    
    ent_age.append(int(sub_container[0].text[6:]))
    ent_birthplace.append(sub_container[1].text[13:])
    ent_profession.append(sub_container[2].text[13:])

    
print(ent_name)
print(ent_age)
print(ent_desc)
print(ent_birthplace)
print(ent_profession)

['Jeff Bezos', 'Bill Gates', 'Larry Ellison', 'Sergey Brin']
[54, 62, 74, 45]
[' Jeffrey Preston "Jeff" Bezos is an American business magnate and investor. He is a technology entrepreneur who has played a key role in the growth of e-commerce as the founder and CEO of Amazon.com, an online merchant of books and later of a wide variety of products. Under his guidance, Amazon.com became the largest retailer on the World Wide Web and a top model for Internet sales. In 2013, Bezos purchased The Washington Post newspaper. As of March 2015, Bezos\'s personal wealth is estimated to be US$34.8 billion, ranking him number 15 on the Forbes list of billionaires. ...more on Wikipedia ', ' William Henry "Bill" Gates III is an American business magnate, philanthropist, investor, computer programmer, and inventor. Gates originally established his reputation as the co-founder of Microsoft, the world’s largest PC software company, with Paul Allen. During his career at Microsoft, Gates held the positions of chairman, CEO and chief software architect, and was also the largest individual shareholder until May 2014. He has also authored and co-authored several books. Today he is consistently ranked in the Forbes list of the world\'s wealthiest people and was the wealthiest overall from 1995 to 2014—excluding a few brief periods post-2008. Between 2009 and 2014 his wealth more than ...more on Wikipedia ', ' Lawrence Joseph "Larry" Ellison is an American programmer, internet entrepreneur, adventurer, businessman and philanthropist. He was the Chief Executive Officer of the software company Oracle Corporation between its foundation in 1977 and 2014. In 2014, he was listed by Forbes as the third-wealthiest man in America and as the fifth-wealthiest person in the world, with a fortune of $56.2 billion. Ellison was born in New York City but grew up in Chicago. He studied at the University of Illinois at Urbana–Champaign and the University of Chicago without graduating before moving to California in 1966. While working at Ampex Corporation in the early 1970s, he became influenced by Edgar F. Codd\'s ...more on Wikipedia ', " Sergey Brin, a native of Moscow, received a bachelor of science degree with honors in mathematics and computer science from the University of Maryland at College Park. He is currently on leave from the Ph.D. program in computer science at Stanford University, where he received his master's degree. Sergey is a recipient of a National Science Foundation Graduate Fellowship as well as an honorary MBA from Instituto de Empresa. It was at Stanford where he met Larry Page and worked on the project that became Google. Together they founded Google Inc. in 1998, and Sergey continues to share responsibility for day-to-day operations with Larry Page and Eric Schmidt. Sergey's research ...more on Wikipedia "]
['Albuquerque, New Mexico, United States of America', 'USA, Washington, Seattle', 'Lower East Side, New York City, New York, United States of America', 'Moscow, Russia']
['Businessperson, Entrepreneur', 'Programmer, Software Architect, Businessperson, Investor, Entrepreneur', 'Businessperson, Investor, Entrepreneur', 'Executive Management, Businessperson, Entrepreneur, Computer scientist, Internet Entrepreneur']

In [14]:
test_df = pd.DataFrame({"Names":ent_name,
                        "Description":ent_desc,
                        "Age":ent_age,
                        "Birthplace":ent_birthplace,
                        "Profession":ent_profession
                        })

In [15]:
test_df

,Names,Description,Age,Birthplace,Profession
0,Jeff Bezos,"Jeffrey Preston ""Jeff"" Bezos is an American b...",54,"Albuquerque, New Mexico, United States of America","Businessperson, Entrepreneur"
1,Bill Gates,"William Henry ""Bill"" Gates III is an American...",62,"USA, Washington, Seattle","Programmer, Software Architect, Businessperson..."
2,Larry Ellison,"Lawrence Joseph ""Larry"" Ellison is an America...",74,"Lower East Side, New York City, New York, Unit...","Businessperson, Investor, Entrepreneur"
3,Sergey Brin,"Sergey Brin, a native of Moscow, received a b...",45,"Moscow, Russia","Executive Management, Businessperson, Entrepre..."

In [16]:
test_df

,Names,Description,Age,Birthplace,Profession
0,Jeff Bezos,"Jeffrey Preston ""Jeff"" Bezos is an American b...",54,"Albuquerque, New Mexico, United States of America","Businessperson, Entrepreneur"
1,Bill Gates,"William Henry ""Bill"" Gates III is an American...",62,"USA, Washington, Seattle","Programmer, Software Architect, Businessperson..."
2,Larry Ellison,"Lawrence Joseph ""Larry"" Ellison is an America...",74,"Lower East Side, New York City, New York, Unit...","Businessperson, Investor, Entrepreneur"
3,Sergey Brin,"Sergey Brin, a native of Moscow, received a b...",45,"Moscow, Russia","Executive Management, Businessperson, Entrepre..."

### Twitter API

In [17]:
import tweepy
import csv
import pandas as pd

In [18]:
import tweepy
from tweepy import Stream
from tweepy import OAuthHandler
from tweepy.streaming import StreamListener
CONSUMER_KEY = 'MY1ZVLa2MTSd2BEhmYnOpsJlX'
CONSUMER_SECRET = 'Hk6ukIogqZR1XigLfQ7cjYJFwt253yI055WhBNeBWzDSZoapqw'
ACCESS_KEY = '2913447402-r2Fyv5G7KsT9pdEnV1gNwPk1QtfE915HceObao9'
ACCESS_SECRET = 'MUkhfzRwUvGdxqbA8a9CmoE2E1VX4m4ydRVQr1evvCTJp'

auth = OAuthHandler(CONSUMER_KEY,CONSUMER_SECRET)
api = tweepy.API(auth)

auth.set_access_token(ACCESS_KEY, ACCESS_SECRET)

In [19]:
user = api.get_user('JeffBezos')
print (user.screen_name)
print (user.description)
print (user.followers_count)
print (user.statuses_count)
print (user.verified)

JeffBezos
Amazon, Blue Origin, Washington Post
772556
184
True

In [20]:
notweets=[]
ent_noTweet=[]

for tweet in tweepy.Cursor(api.search,q="#jeffbezos",count=100,
                           lang="en",
                           since="2019-01-19").items():
    notweets.append(tweet.text)
len(notweets)
ent_noTweet.append(len(notweets))
print(ent_noTweet)

[568]

In [21]:
ent_tw_screenname=[]
ent_tw_desc=[]
ent_tw_followers_count=[]
ent_tw_statuses_count=[]
ent_tw_verified=[]

def twitter(name):
    for names in name:
        textCamel=names.title()
        finalText=textCamel.replace(' ', '')
#         print(finalText)
        user = api.get_user(names)
        print(user.screen_name)
        ent_tw_screenname.append(user.screen_name)
        print(user.description)
        ent_tw_desc.append(user.description)
        print(user.followers_count)
        ent_tw_followers_count.append(user.followers_count)
        print(user.statuses_count)
        ent_tw_statuses_count.append(user.statuses_count)
        print(user.verified)
        ent_tw_verified.append(user.verified)
        print()

In [22]:
try:
    twitter(ent_name)
except:
#     print("handles exception")
#     print(user.screen_name)
#     print(user.description)
#     print(user.followers_count)
#     print(user.statuses_count)
#     print(user.verified)
    print(ent_tw_screenname)
    print(ent_tw_desc)
    print(ent_tw_followers_count)
    print(ent_tw_statuses_count)
    print(ent_tw_verified)

[]
[]
[]
[]
[]

In [23]:
ent_tw_screenname=[]
ent_tw_desc=[]
ent_tw_followers_count=[]
ent_tw_statuses_count=[]
ent_tw_verified=[]


user = api.get_user('JeffBezos')
# print (user.screen_name)
# print (user.description)
# print (user.followers_count)
# print (user.statuses_count)
# print (user.verified)

ent_tw_screenname.append(user.screen_name)
ent_tw_desc.append(user.description)
ent_tw_followers_count.append(user.followers_count)
ent_tw_statuses_count.append(user.statuses_count)
ent_tw_verified.append(user.verified)

user = api.get_user('BillGates')
# print (user.screen_name)
# print (user.description)
# print (user.followers_count)
# print (user.statuses_count)
# print (user.verified)

ent_tw_screenname.append(user.screen_name)
ent_tw_desc.append(user.description)
ent_tw_followers_count.append(user.followers_count)
ent_tw_statuses_count.append(user.statuses_count)
ent_tw_verified.append(user.verified)

user = api.get_user('LarryEllison')
# print (user.screen_name)
# print (user.description)
# print (user.followers_count)
# print (user.statuses_count)
# print (user.verified)

ent_tw_screenname.append(user.screen_name)
ent_tw_desc.append(user.description)
ent_tw_followers_count.append(user.followers_count)
ent_tw_statuses_count.append(user.statuses_count)
ent_tw_verified.append(user.verified)

user = api.get_user('Plaid_Brin')
ent_tw_screenname.append(user.screen_name)
ent_tw_desc.append(user.description)
ent_tw_followers_count.append(user.followers_count)
ent_tw_statuses_count.append(user.statuses_count)
ent_tw_verified.append(user.verified)
# ent_tw_screenname.append(" ")
# ent_tw_desc.append(" ")
# ent_tw_followers_count.append(" ")
# ent_tw_statuses_count.append(" ")
# ent_tw_verified.append(" ")

In [24]:
test_df = pd.DataFrame({"Names":ent_name,
                        "Description":ent_desc,
                        "Age":ent_age,
                        "Birthplace":ent_birthplace,
                        "Profession":ent_profession,
                        "Twitter Screen name":ent_tw_screenname,
                        "Twitter Description":ent_tw_desc,
                        "Twitter Followers Count":ent_tw_followers_count,
                        "Twitter Status Count":ent_tw_statuses_count,
                        "Twitter Verified":ent_tw_verified
                        })

In [25]:
test_df

,Names,Description,Age,Birthplace,Profession,Twitter Screen name,Twitter Description,Twitter Followers Count,Twitter Status Count,Twitter Verified
0,Jeff Bezos,"Jeffrey Preston ""Jeff"" Bezos is an American b...",54,"Albuquerque, New Mexico, United States of America","Businessperson, Entrepreneur",JeffBezos,"Amazon, Blue Origin, Washington Post",772556,184,True
1,Bill Gates,"William Henry ""Bill"" Gates III is an American...",62,"USA, Washington, Seattle","Programmer, Software Architect, Businessperson...",BillGates,Sharing things I'm learning through my foundat...,46317211,2944,True
2,Larry Ellison,"Lawrence Joseph ""Larry"" Ellison is an America...",74,"Lower East Side, New York City, New York, Unit...","Businessperson, Investor, Entrepreneur",larryellison,,102255,1,True
3,Sergey Brin,"Sergey Brin, a native of Moscow, received a b...",45,"Moscow, Russia","Executive Management, Businessperson, Entrepre...",Plaid_Brin,The Plaid Avenger's updates for Google co-foun...,7663,712,False

### CSV data

In [26]:
wiki_tabel=pd.read_csv("Ent_Wiki.csv", encoding="utf8", error_bad_lines=False)
wiki_tabel

,Unnamed: 0,Net Worth,Spouse,No. of Children,Education
0,0,US$137 billion (January 2019),MacKenzie Tuttle (m. 1993) (separated),4,Princeton University (BS)
1,1,$95.6 billion[1] (November 2018),Melinda French (m. 1994),3,"Lakeside School, Harvard College"
2,2,US$59.5 billion (November 2018),Adda Quinn(m. 1967; div. 1974) Nancy Wheeler J...,2,asd
3,3,US$50.6 billion (October 2018),Anne Wojcicki(m. 2007; div. 2015),2,Stanford University

In [27]:
frame = pd.concat([test_df, wiki_tabel], axis=1, sort=False)
frame

,Names,Description,Age,Birthplace,Profession,Twitter Screen name,Twitter Description,Twitter Followers Count,Twitter Status Count,Twitter Verified,Unnamed: 0,Net Worth,Spouse,No. of Children,Education
0,Jeff Bezos,"Jeffrey Preston ""Jeff"" Bezos is an American b...",54,"Albuquerque, New Mexico, United States of America","Businessperson, Entrepreneur",JeffBezos,"Amazon, Blue Origin, Washington Post",772556,184,True,0,US$137 billion (January 2019),MacKenzie Tuttle (m. 1993) (separated),4,Princeton University (BS)
1,Bill Gates,"William Henry ""Bill"" Gates III is an American...",62,"USA, Washington, Seattle","Programmer, Software Architect, Businessperson...",BillGates,Sharing things I'm learning through my foundat...,46317211,2944,True,1,$95.6 billion[1] (November 2018),Melinda French (m. 1994),3,"Lakeside School, Harvard College"
2,Larry Ellison,"Lawrence Joseph ""Larry"" Ellison is an America...",74,"Lower East Side, New York City, New York, Unit...","Businessperson, Investor, Entrepreneur",larryellison,,102255,1,True,2,US$59.5 billion (November 2018),Adda Quinn(m. 1967; div. 1974) Nancy Wheeler J...,2,asd
3,Sergey Brin,"Sergey Brin, a native of Moscow, received a b...",45,"Moscow, Russia","Executive Management, Businessperson, Entrepre...",Plaid_Brin,The Plaid Avenger's updates for Google co-foun...,7663,712,False,3,US$50.6 billion (October 2018),Anne Wojcicki(m. 2007; div. 2015),2,Stanford University

In [28]:
frame.isnull().sum()

Names                      0
Description                0
Age                        0
Birthplace                 0
Profession                 0
Twitter Screen name        0
Twitter Description        0
Twitter Followers Count    0
Twitter Status Count       0
Twitter Verified           0
Unnamed: 0                 0
Net Worth                  0
Spouse                     0
No. of Children            0
Education                  0
dtype: int64

In [29]:
frame['Twitter Description'][2]

''

In [30]:
frame=frame.drop(frame.index[2])
frame

,Names,Description,Age,Birthplace,Profession,Twitter Screen name,Twitter Description,Twitter Followers Count,Twitter Status Count,Twitter Verified,Unnamed: 0,Net Worth,Spouse,No. of Children,Education
0,Jeff Bezos,"Jeffrey Preston ""Jeff"" Bezos is an American b...",54,"Albuquerque, New Mexico, United States of America","Businessperson, Entrepreneur",JeffBezos,"Amazon, Blue Origin, Washington Post",772556,184,True,0,US$137 billion (January 2019),MacKenzie Tuttle (m. 1993) (separated),4,Princeton University (BS)
1,Bill Gates,"William Henry ""Bill"" Gates III is an American...",62,"USA, Washington, Seattle","Programmer, Software Architect, Businessperson...",BillGates,Sharing things I'm learning through my foundat...,46317211,2944,True,1,$95.6 billion[1] (November 2018),Melinda French (m. 1994),3,"Lakeside School, Harvard College"
3,Sergey Brin,"Sergey Brin, a native of Moscow, received a b...",45,"Moscow, Russia","Executive Management, Businessperson, Entrepre...",Plaid_Brin,The Plaid Avenger's updates for Google co-foun...,7663,712,False,3,US$50.6 billion (October 2018),Anne Wojcicki(m. 2007; div. 2015),2,Stanford University

In [31]:
frame.dtypes

Names                      object
Description                object
Age                         int64
Birthplace                 object
Profession                 object
Twitter Screen name        object
Twitter Description        object
Twitter Followers Count     int64
Twitter Status Count        int64
Twitter Verified             bool
Unnamed: 0                  int64
Net Worth                  object
Spouse                     object
No. of Children             int64
Education                  object
dtype: object

In [32]:
frame.describe()

,Age,Twitter Followers Count,Twitter Status Count,Unnamed: 0,No. of Children
count,3.000000,3.000000e+00,3.000000,3.000000,3.0
mean,53.666667,1.569914e+07,1280.000000,1.333333,3.0
std,8.504901,2.651878e+07,1465.048805,1.527525,1.0
min,45.000000,7.663000e+03,184.000000,0.000000,2.0
25%,49.500000,3.901095e+05,448.000000,0.500000,2.5
50%,54.000000,7.725560e+05,712.000000,1.000000,3.0
75%,58.000000,2.354488e+07,1828.000000,2.000000,3.5
max,62.000000,4.631721e+07,2944.000000,3.000000,4.0

In [33]:
frame['Age']

0    54
1    62
3    45
Name: Age, dtype: int64

In [34]:
frame.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3 entries, 0 to 3
Data columns (total 15 columns):
Names                      3 non-null object
Description                3 non-null object
Age                        3 non-null int64
Birthplace                 3 non-null object
Profession                 3 non-null object
Twitter Screen name        3 non-null object
Twitter Description        3 non-null object
Twitter Followers Count    3 non-null int64
Twitter Status Count       3 non-null int64
Twitter Verified           3 non-null bool
Unnamed: 0                 3 non-null int64
Net Worth                  3 non-null object
Spouse                     3 non-null object
No. of Children            3 non-null int64
Education                  3 non-null object
dtypes: bool(1), int64(5), object(9)
memory usage: 363.0+ bytes

In [35]:
frame

,Names,Description,Age,Birthplace,Profession,Twitter Screen name,Twitter Description,Twitter Followers Count,Twitter Status Count,Twitter Verified,Unnamed: 0,Net Worth,Spouse,No. of Children,Education
0,Jeff Bezos,"Jeffrey Preston ""Jeff"" Bezos is an American b...",54,"Albuquerque, New Mexico, United States of America","Businessperson, Entrepreneur",JeffBezos,"Amazon, Blue Origin, Washington Post",772556,184,True,0,US$137 billion (January 2019),MacKenzie Tuttle (m. 1993) (separated),4,Princeton University (BS)
1,Bill Gates,"William Henry ""Bill"" Gates III is an American...",62,"USA, Washington, Seattle","Programmer, Software Architect, Businessperson...",BillGates,Sharing things I'm learning through my foundat...,46317211,2944,True,1,$95.6 billion[1] (November 2018),Melinda French (m. 1994),3,"Lakeside School, Harvard College"
3,Sergey Brin,"Sergey Brin, a native of Moscow, received a b...",45,"Moscow, Russia","Executive Management, Businessperson, Entrepre...",Plaid_Brin,The Plaid Avenger's updates for Google co-foun...,7663,712,False,3,US$50.6 billion (October 2018),Anne Wojcicki(m. 2007; div. 2015),2,Stanford University