In [137]:
from requests import get 
import pandas as pd

### Jeff Bezos Wiki Scrapping

In [138]:
url1 = "https://en.wikipedia.org/wiki/Jeff_Bezos"

In [140]:
response1 = get(url1)
print(response1)

<Response [200]>

In [141]:
from bs4 import BeautifulSoup as bs ## importing Beautiful Soup
html_soup = bs(response1.text,'html.parser')## python's in built library HTML parser
type(html_soup)

bs4.BeautifulSoup

In [142]:
ent_worth=[]
ent_spouse=[]
ent_childred=[]
ent_education=[]

In [143]:
id_check = html_soup.find("table", class_ ="infobox biography vcard")
td_= id_check.find_all("td")
# ent_container = td_.find_all("a", )
len(td_)
td_[6].text[:-3]
# print(ent_container[0].text)

'US$137 billion (January 2019)'

In [144]:
td_[8].text

'MacKenzie Tuttle (m.\xa01993) (separated)'

In [145]:
td_[9].text

'4'

In [146]:
td_[3].text

'Princeton University (BS)'

In [147]:
ent_worth.append(td_[6].text[:-3])
ent_spouse.append(td_[8].text)
ent_childred.append(td_[9].text)
ent_education.append(td_[3].text)

### Bill Gates Wiki Scrapping

In [148]:
url2 = "https://en.wikipedia.org/wiki/Bill_Gates"

In [149]:
response2 = get(url2)
print(response2)

<Response [200]>

In [150]:
from bs4 import BeautifulSoup as bs ## importing Beautiful Soup
html_soup = bs(response2.text,'html.parser')## python's in built library HTML parser
type(html_soup)

bs4.BeautifulSoup

In [151]:
id_check = html_soup.find("table", class_ ="infobox biography vcard")
td_= id_check.find_all("td")
len(td_)
td_[5].text

'$95.6\xa0billion[1] (November 2018)'

In [152]:
td_[8].text

'Melinda French (m.\xa01994)'

In [153]:
td_[9].text

'3'

In [154]:
ent_worth.append(td_[5].text)
ent_spouse.append(td_[8].text)
ent_childred.append(td_[9].text)
ent_education.append("")

### Larry Ellison Wiki Srapping

In [155]:
url3= "https://en.wikipedia.org/wiki/Larry_Ellison"

In [156]:
response3 = get(url3)
print(response3)

<Response [200]>

In [158]:
from bs4 import BeautifulSoup as bs ## importing Beautiful Soup
html_soup = bs(response3.text,'html.parser')## python's in built library HTML parser
type(html_soup)

bs4.BeautifulSoup

In [159]:
id_check = html_soup.find("table", class_ ="infobox biography vcard")
td_= id_check.find_all("td")
len(td_)
td_[9].text[:-4]

' US$59.5 billion (November 2018)'

In [160]:
text=td_[11].text[1:].replace("\n", " ")
print(text)

Adda Quinn(m. 1967; div. 1974) Nancy Wheeler Jenkins(m. 1977; div. 1978) Barbara Boothe(m. 1983; div. 1986) Melanie Craft(m. 2003; div. 2010)

In [161]:
td_[12].find()
print(td_[12])
print(td_[12].text)
child_text=td_[12].find_all("a")
len(child_text)

<td><div class="plainlist">
<ul><li><a href="/wiki/David_Ellison" title="David Ellison">David Ellison</a></li>
<li><a href="/wiki/Megan_Ellison" title="Megan Ellison">Megan Ellison</a></li></ul>
</div></td>

David Ellison
Megan Ellison

2

In [162]:
ent_worth.append(td_[9].text[:-4])
ent_spouse.append(text)
ent_childred.append(len(child_text))
ent_education.append("")

### Sergey Brin Wiki Scrapping

In [163]:
url4="https://en.wikipedia.org/wiki/Sergey_Brin"
response4 = get(url4)
print(response4)
from bs4 import BeautifulSoup as bs ## importing Beautiful Soup
html_soup = bs(response4.text,'html.parser')## python's in built library HTML parser
type(html_soup)

<Response [200]>

bs4.BeautifulSoup

In [164]:
id_check = html_soup.find("table", class_ ="infobox biography vcard")
td_= id_check.find_all("td")
len(td_)
td_[8].text[:-3]

'US$50.6 billion (October 2018)'

In [165]:
text=print(td_[10].text)

Anne Wojcicki(m. 2007; div. 2015)

In [166]:
td_[11].text

'2'

In [167]:
ent_worth.append(td_[8].text[:-3])
ent_spouse.append(td_[10].text)
ent_childred.append(td_[11].text)
ent_education.append("")

In [168]:
ent_table=pd.DataFrame({"Net Worth":ent_worth,
                        "Spouse": ent_spouse,
                        "No. of Children": ent_childred,
                        "Education": ent_education})
ent_table

,Net Worth,Spouse,No. of Children,Education
0,US$137 billion (January 2019),MacKenzie Tuttle (m. 1993) (separated),4,Princeton University (BS)
1,$95.6 billion[1] (November 2018),Melinda French (m. 1994),3,
2,US$59.5 billion (November 2018),Adda Quinn(m. 1967; div. 1974) Nancy Wheeler J...,2,
3,US$50.6 billion (October 2018),Anne Wojcicki(m. 2007; div. 2015),2,

In [169]:
ent_table.to_csv("Ent_Wiki.csv")